/*
 * $brand: #4E54BF;
 * $black: #0A0B1A;
 * $white: #FFFFFF;
*/

body {
    font-family: "Prompt", sans-serif;
    font-size: 16px;
    background: #0A0B1A;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 0;
    background: #4E54BF;
}

.container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    max-width: 80%;
    margin: 0 auto;
}

nav img {
    height: 50px;
    width: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

header {
    height: 100vh;
    background-color: #4E54BF;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    z-index: 1;
}

header>img {
    width: 300px;
    max-width: 50%;
    max-height: 70%;
}

main {
    height: calc(115vh + 200px);
    color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

main h1 {
    width: 960px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    position: fixed;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

footer {
    height: 300px;
    min-height: 60vh;
    position: relative;
    background-color: #fff;
    color: #0A0B1A;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

footer p {
    width: 960px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    width: 100%;
}

footer a {
    font-weight: bold;
    color: inherit;
}

footer small {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    opacity: .6;
}

footer::after {
    content: ' ';
    background: url("../img/moon-scene.svg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 15vw;
    position: absolute;
    left: 0;
    right: 0;
    top: -15vw;
}
